# 获取金融数据
## 1、RESTFul API
## 2、开源数据 JAQS，Tushare
## 3、￥￥￥

In [16]:
import pandas as pd
from datetime import datetime,timedelta
import requests

In [17]:
import json
# OANDA
def getOandaCandles(instrument,granularity,candleFormat=None,count=None,start=None):
    params = {'instrument':instrument,'granularity':granularity,'candleFormat':candleFormat,'count':count,'start':start}
    url = "https://api-fxtrade.oanda.com/v1/candles"
    r = requests.get(url, headers={"contentType": "application/x-www-form-urlencoded"}, params=params,timeout=10)
    text = json.loads(r.content)
    data = pd.DataFrame(text["candles"])
    data["datetime"] = data["time"].apply(pd.to_datetime)
    data.rename(columns={'closeMid':'close', 'highMid':'high', 'lowMid':'low', 'openMid':'open'}, inplace = True)
    return data

getOandaCandles('XAU_USD','M1','midpoint',start = '2018-10-29').tail(10)
# granularity available:S5/ S10/ S15/ S30/ M1/ M2/ M3/ M4/ M5/ M10/ M15/ M30/ H1/ H2/ H3/ H4/ H6/ H8/ H12/ D/ W/ M

,close,complete,high,low,open,time,volume,datetime
490,1230.4890,True,1230.575,1230.389,1230.3890,2018-10-29T08:31:00.000000Z,9,2018-10-29 08:31:00
491,1230.6650,True,1230.707,1230.529,1230.5810,2018-10-29T08:32:00.000000Z,8,2018-10-29 08:32:00
492,1230.7830,True,1230.881,1230.712,1230.7120,2018-10-29T08:33:00.000000Z,13,2018-10-29 08:33:00
493,1230.4050,True,1230.739,1230.230,1230.6900,2018-10-29T08:34:00.000000Z,53,2018-10-29 08:34:00
494,1230.4680,True,1230.849,1230.378,1230.4470,2018-10-29T08:35:00.000000Z,45,2018-10-29 08:35:00
495,1230.4085,True,1230.500,1230.387,1230.4280,2018-10-29T08:36:00.000000Z,9,2018-10-29 08:36:00
496,1230.2030,True,1230.459,1230.203,1230.3680,2018-10-29T08:37:00.000000Z,8,2018-10-29 08:37:00
497,1230.0775,True,1230.162,1230.078,1230.1620,2018-10-29T08:38:00.000000Z,3,2018-10-29 08:38:00
498,1230.0235,True,1230.204,1229.993,1230.0365,2018-10-29T08:39:00.000000Z,18,2018-10-29 08:39:00
499,1229.9695,True,1230.113,1229.812,1229.9830,2018-10-29T08:40:00.000000Z,50,2018-10-29 08:40:00

In [18]:
# Futures，A Share From JAQS
from jaqs.data import DataView,RemoteDataService
def getStockCandles(symbol,granularity,start,end):
    data_config = {                                                            ##配置jaqs
                "remote.data.address": "tcp://data.quantos.org:8910",
                "remote.data.username": "18566262672",
                "remote.data.password": "eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MTI3MDI3NTAyMTIiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTg1NjYyNjI2NzIifQ.O_-yR0zYagrLRvPbggnru1Rapk4kiyAzcwYt2a3vlpM"
                }
    ds = RemoteDataService()
    ds.init_from_config(data_config)   #初始化数据服务 
    if end:
        end_time = end
    else:
        end_time = datetime.now().strftime('%Y%m%d')
    tradeDays=ds.query_trade_dates(start,end_time)  #计算开始及截止期内的交易日天数
    
    result= pd.DataFrame([])
    for trade_date in tradeDays:
        minutebar,msg=ds.bar(symbol=symbol,start_time=190000,end_time=185959,trade_date=trade_date, freq=granularity,fields="")
        
        
        minutebar['datetime'] = minutebar['date'].map(lambda x: str(x)) +' '+ minutebar['time'].map(lambda x: str(x).zfill(6))
        minutebar['datetime'] = minutebar['datetime'].map(lambda x : datetime.strptime(x,"%Y%m%d %H%M%S"))
        minute = minutebar[['datetime','open','close','high','low','volume']]
        result = result.append(minute)
    return result
data = getStockCandles('000001.SZ','1M','20180101','20190130')   ##通过jaqs获取数据
# granularity available: 1M, 5M, 15M

Begin: DataApi login 18566262672@tcp://data.quantos.org:8910
    Already login as 18566262672, skip init_from_config

In [9]:
getStockCandles('rb1905.SHF','15M','20190101','20190201').tail(10)

Begin: DataApi login 18566262672@tcp://data.quantos.org:8910
    Already login as 18566262672, skip init_from_config

              datetime    open   close    high     low    volume
21 2019-01-24 02:30:00  3657.0  3657.0  3657.0  3657.0       0.0
22 2019-01-24 09:15:00  3655.0  3659.0  3665.0  3655.0  133134.0
23 2019-01-24 09:30:00  3659.0  3653.0  3661.0  3651.0   96940.0
24 2019-01-24 09:45:00  3652.0  3652.0  3656.0  3650.0   76632.0
25 2019-01-24 10:00:00  3651.0  3646.0  3654.0  3642.0  126174.0
26 2019-01-24 10:15:00  3647.0  3646.0  3648.0  3639.0  134860.0
27 2019-01-24 10:45:00  3646.0  3651.0  3652.0  3645.0   81906.0
28 2019-01-24 11:00:00  3651.0  3657.0  3658.0  3650.0  107374.0
29 2019-01-24 11:15:00  3657.0  3660.0  3663.0  3657.0  110928.0
30 2019-01-24 11:30:00  3660.0  3662.0  3667.0  3659.0  135544.0

In [10]:
# OKEX
def getOKEXCandles(symbol, type, contract_type=None, size=None, since=None):
    since = int(datetime.timestamp(datetime.strptime(since,"%Y%m%d %H:%M:%S.%f")))*1000
    params = {'symbol':symbol,'type':type,'contract_type':contract_type,'size':size,'since':since}
    if contract_type:  # url for future
        url = 'https://www.okex.me/api/v1/future_kline.do?'
    else:              # url for spot
        url = 'https://www.okex.me/api/v1/kline.do?'
        
    r = requests.get(url, headers={"contentType": "application/x-www-form-urlencoded"}, params = params,timeout=10)
    text = eval(r.text)

    if contract_type:  
        df = pd.DataFrame(text, columns=["datetime", "open", "high", "low", "close", "volume","%s_volume"%symbol])
    else:
        df = pd.DataFrame(text, columns=["datetime", "open", "high", "low", "close", "volume"])
    
    df["datetime"] = df["datetime"].map(lambda x: datetime.fromtimestamp(x / 1000))
    # delta = datetime.timedelta(hours=8)
    # df.rename(lambda s: datetime.datetime.strptime(s, "%Y-%m-%d %H:%M:%S") + delta)  # Alter TimeZone 
    return df#.to_csv('a.csv')

getOKEXCandles('eos_usd','1min','quarter',since = '20180113 00:00:00.000').tail(10)
# type available: 1min/3min/5min/15min/30min/1day/3day/1week/1hour/2hour/4hour/6hour/12hour

                datetime   open   high    low  close  volume  eos_usd_volume
2880 2019-01-24 12:24:00  2.311  2.311  2.310  2.310    1943     8411.075582
2881 2019-01-24 12:25:00  2.310  2.313  2.309  2.313   11741    50815.109732
2882 2019-01-24 12:26:00  2.312  2.313  2.312  2.313    9325    40330.518642
2883 2019-01-24 12:27:00  2.313  2.313  2.313  2.313    7450    32209.252054
2884 2019-01-24 12:28:00  2.312  2.313  2.312  2.313    2957    12785.682176
2885 2019-01-24 12:29:00  2.312  2.313  2.312  2.313    1149     4968.730225
2886 2019-01-24 12:30:00  2.312  2.313  2.312  2.312    1392     6018.420033
2887 2019-01-24 12:31:00  2.312  2.313  2.312  2.313   10537    45555.596695
2888 2019-01-24 12:32:00  2.313  2.313  2.312  2.313    9599    41500.584555
2889 2019-01-24 12:33:00  2.313  2.313  2.312  2.313    2077     8979.760478

In [11]:
# OKEX V3
def getOKEXV3Candles(instrument_id, granularity, start=None, end=None):
    params = {'granularity':granularity}
    try:
        int(instrument_id[-2:])# url for future
        url = 'https://www.okex.me/api/futures/v3/instruments/'+instrument_id+'/candles?'
    except:              # url for spot
        url = 'https://www.okex.me/api/spot/v3/instruments/'+instrument_id+'/candles?'
    if start:
        params['start'] = start
    if end:
        params['end'] = end
    r = requests.get(url, headers={"contentType": "application/x-www-form-urlencoded"}, params = params,timeout=10)
    text = eval(r.text)

    if 'futures'in url: 
        symbol = instrument_id[:3]
        df = pd.DataFrame(text, columns=["datetime", "open", "high", "low", "close", "volume","%s_volume"%symbol])
        df["datetime"] = df["datetime"].map(lambda x: datetime.fromtimestamp(x / 1000))
        df["datetime"] = df["datetime"].map(lambda x: x.strftime("%Y-%m-%d %H:%M:%S"))
        delta = timedelta(hours=8)
        df["datetime"] = df["datetime"].map(lambda x: datetime.strptime(x,"%Y-%m-%d %H:%M:%S")-delta)# Alter TimeZone 
    else:
        df = pd.DataFrame(text, columns=["time", "open", "high", "low", "close", "volume"])
        df['datetime'] = df['time'].apply(lambda x: datetime.strptime(x,"%Y-%m-%dT%H:%M:%S.%fZ").strftime("%Y%m%d %H:%M:%S"))
        df = df.sort_values('datetime',ascending =True)
        
    return df#.to_csv('a.csv')
getOKEXV3Candles('btc-usdt','60','2019-01-12T00:00:00Z','2019-01-13T01:08:08Z').tail(10)
# granularity available: 60 180 300 900 1800 3600 7200 14400 21600 43200 86400 604800

Empty DataFrame
Columns: [time, open, high, low, close, volume, datetime]
Index: []

## 将获取的数据录入MongoDB

In [23]:
#symbol = '000001.SZ'
#data =getStockCandles(symbol,'1M','20190101','20190130') # 获取数据
import pymongo
from datetime import datetime
import pandas as pd

symbol='000001.SZ'
data=pd.read_csv('%s.csv'%symbol)

client = pymongo.MongoClient('localhost:27017')
collection = client['FinData'][symbol]
collection.create_index([('datetime', pymongo.ASCENDING)], unique=True)
for index, row in data.iterrows():
    bar = {}
    bar['open'] = row.open               # 录入开高低收成交量数据
    bar['close'] = row.close
    bar['high'] = row.high
    bar['low'] = row.low
    bar['volume'] = row.volume
    bar['datetime'] =datetime.strptime(row.datetime,'%Y-%m-%d %H:%M:%S')   # 录入datetime
    bar['date'] = bar['datetime'].date().strftime("%Y%m%d")  # 转换为回测系统需要的 str类型的 date 和 time
    bar['time'] = bar['datetime'].time().strftime("%H:%M:%S") 
    bar['openInterest'] = 0              # 持仓量数据，在本例中赋值0
    bar['vtSymbol'] = symbol             # 回测系统需要的交易品种字段
flt = {'datetime': bar['datetime']}
collection.update_one(flt, {'$set':bar}, upsert=True)

## 读取数据

In [ ]:
# 从MongoDB读取数据
import pymongo
from datetime import datetime
import pandas as pd
conn = pymongo.MongoClient("localhost:27017")
collection = conn['FinData']['eos_usdt:OKEX']
Cursor = collection.find({"datetime": {"$gt": datetime(2018,9,9,0,0,0)}})  # 按日回测检索
data_df = pd.DataFrame(list(Cursor))
data_df

In [ ]:
# 从CSV读取数据
data = pd.read_csv('000001.SZ.csv',index_col=False)
data